build/
mbuild/

.ipynb_checkpoints/
.vscode/

artifacts/*
!artifacts/.gitignore

# Analysis script output.
analysis/results.txt
analysis/*.png
*.o

test/OpenFOAM/test1
test/OpenFOAM/test2

source_openfoam.sh
*.pvsm

mif

*dat
*vtk